html
	head
		title Are you a
	body
		include ../partials/header 
		a(href="/memberlogin") Are you a member of Oasis?
		b
		a(href="/trainerlogin") Are you a trainer of Oasis?
		b
		a(href="/adminlogin") Are you administrative staff of Oasis?
		b